---
import { getCollection } from "astro:content";
import WorkCard from "../WorkCard.astro";
import { useTranslations } from "../../utils/translations";

const { lang } = Astro.props;
const t = useTranslations(lang);

const jobProjects = await getCollection("jobProjects");
const personalProjects = await getCollection("personalProjects");
---

<div class="text-center text-white py-4 font-syne">
  <h2 class="text-xl font-semibold pt-2 pb-6">{t("work.otherJobs")}</h2>
  <div class="flex flex-wrap justify-center">
    {
      jobProjects.map((project) => {
        const { slug, data } = project;
        const { img, description, icons } = data;

        return (
          <WorkCard
            description={description}
            img={img}
            slug={slug}
            icons={icons}
            type="job"
            lang={lang}
          />
        );
      })
    }
  </div>
  <h2 class="text-xl font-semibold pt-8 pb-6">{t("work.personalProjects")}</h2>
  <div class="flex flex-wrap justify-center">
    {
      personalProjects.map((project) => {
        const { slug, data } = project;
        const { title, img, description, icons } = data;

        return (
          <WorkCard
            title={title}
            description={description}
            img={img}
            slug={slug}
            icons={icons}
            type="personal"
            lang={lang}
          />
        );
      })
    }
  </div>
</div>