---
import { getCollection } from "astro:content";
import WorkCard from "../WorkCard.astro";

const jobProjects = await getCollection("jobProjects");
const personalProjects = await getCollection("personalProjects")
---

<div class="text-center text-white py-4 font-syne">
  <h2 class="text-xl font-semibold pt-2 pb-6">Other Jobs Work</h2>
  <div class="flex flex-wrap justify-center">
    {
      jobProjects.map((project) => {
        const { slug, data } = project;
        const { title, img, description } = data;

        return (
          <WorkCard
            title={title}
            description={description}
            img={img}
            slug={slug}
            type="job"
          />
        );
      })
    }
  </div>
  <h2 class="text-xl font-semibold pt-2 pb-6">Personal Projects</h2>
  <div class="flex flex-wrap justify-center">
    {
      personalProjects.map((project) => {
        const { slug, data } = project;
        const { title, img, description } = data;

        return (
          <WorkCard
            title={title}
            description={description}
            img={img}
            slug={slug}
            type="personal"
          />
        );
      })
    }
  </div>
</div>
